<h1>ToDos List</h1>
<ul>
  <%= @listings.each do |l| %>
    <li><%= l.description %> <%= link_to "Edit", edit_listing_path(l.id) %></li>
  <% end %>
</ul>
<br/>

<%= link_to "Add a new todo", new_listing_path %>